@import "leaflet/dist/leaflet.css";


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,Segoe UI,sans-serif;
}

body{
    background:#f3f4f6;
    color:#111827;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:translateY(-2px);
    opacity:.95;
}

input,
select,
textarea{

    width:100%;
    padding:12px;
    border-radius:10px;
    border:1px solid #d1d5db;
    outline:none;
    font-size:15px;
}

input:focus,
select:focus,
textarea:focus{

    border-color:#2563eb;

    box-shadow:0 0 0 3px rgba(37,99,235,.15);

}

.card{

    background:white;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    padding:20px;

}

.page-title{

    font-size:36px;

    margin-bottom:10px;

    font-weight:bold;

}

.section-title{

    font-size:24px;

    margin-bottom:20px;

}

.grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:20px;

}

.table{

    width:100%;

    border-collapse:collapse;

}

.table th{

    background:#2563eb;

    color:white;

    padding:12px;

}

.table td{

    padding:12px;

    border-bottom:1px solid #eee;

}

.badge{

    display:inline-block;

    padding:5px 10px;

    border-radius:30px;

    color:white;

    font-size:13px;

}

.success{

    background:#16a34a;

}

.warning{

    background:#d97706;

}

.danger{

    background:#dc2626;

}

@media(max-width:900px){

.grid{

grid-template-columns:1fr;

}

.page-title{

font-size:28px;

}

}